<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
  <header class="main-header">
    <%- include('../includes/navigation.ejs') %>
  </header>

    <h1>Orders</h1>
    <%- include('../includes/end.ejs') %>